# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Build & Release

on:
  push:
    branches:
      - '!*'
    tags:
      - 'v*.*'

jobs:
  build-and-release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Use Node.js 25.x
        uses: actions/setup-node@v4
        with:
          node-version: 25.x

      - run: yarn install --frozen-lockfile
      - run: yarn run build
      - run: yarn run package
      - run: echo RELEASE_FILENAME_IPK=`ls *.ipk` >> $GITHUB_ENV
      - run: yarn manifest

      - name: Create Release and Upload Assets
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          name: Release ${{ github.ref_name }}
          draft: false
          prerelease: true
          files: |
            ${{github.workspace}}/${{env.RELEASE_FILENAME_IPK}}
            ${{github.workspace}}/org.webosbrew.cccbib.manifest.json
        id: upload-ipk-asset
